.card {
  border: 2px solid gray;
  border-radius: 5px;
}
.cardIssue {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: #f4cccc;
}
.cardIssue:hover {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: #dbb3b3;
}
#toDo {
  background-color: #C9DAF8;
}

#toDo:hover {
  background-color: #b0c1df;
}

#inProgress {
  background-color: #dad2e9;
}

#inProgress:hover {
  background-color: #c1b9d0;
}

#codeReview {
  background-color: #fff2cd;
}

#codeReview:hover {
  background-color: #e6d9b4;
}

#completed {
  background-color: #d8ead2;
}

#completed:hover {
  background-color: #bfd1b9;
}