<template name="home">
    <style>
        .category {
            border: 1px solid #9d9d9d;
            min-height: 600px;
        }
    </style>
    <div class="template-home">
        <div class="container">
            <div class="page-header">
                <h1>Team Citron's Kanban/Pomodoro Web Application</h1>
            </div>
            <div class="page-body">
                A web application that integrates Kanban techniques and the Pomodoro timer
            </div>
        </div>
    </div>
</template>