<template name="home">
    <style>
        .category {
            border: 1px solid #9d9d9d;
            min-height: 600px;
        }
    </style>
    <div class="template-home">
        <div class="container">
            <div class="page-header">
                <h1>Citron</h1>
                A web application that integrates Kanban techniques and the Pomodoro timer
            </div>
            <div class="page-body">
                <div class="row">
                    <div class="col col-md-12">
                        <!--<h1>Team Citron's Kanban/Pomodoro Web Application</h1>-->
                        <div class="container" style="width: 100%">
                            <!--<div class="col col-sm-1"></div>-->
                            <div class="category col-sm-4">

                            </div>
                            <div class="category col-sm-2">

                            </div>
                            <div class="category col-sm-2">

                            </div>
                            <div class="category col-sm-2">

                            </div>
                            <div class="category col-sm-2">

                            </div>
                            <!--<div class="col col-sm-1"></div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>