<template name="issueTracking">
  <div class="template-issueTracking">
    <div class="page-header">
      <h1>Issue Tracking</h1>
    </div>

    <h4 id="error"></h4>

    <div class="page-body">
      <div id="container" style="width:100%; height:400px;"></div>

      <script>
        var Highcharts = require('highcharts');

        var days = [];
        var toDoVals = [];
        var inProgressVals = [];
        var codeReviewVals = [];

        Meteor.call("count", function(error, data) {
          if (error) {
            console.log(error);
          } else {
            data.forEach(function (element) {
              //console.log(element.day);
              days.push(element.day.toString());
              toDoVals.push(element.toDo);
              inProgressVals.push(element.inProgress);
              codeReviewVals.push(element.codeReview);
            });


          }
        });



        $(function () {
          console.log(days);
          console.log(inProgressVals);
          console.log(toDoVals);
          console.log(codeReviewVals);

          var myChart = Highcharts.chart('container', {
            chart: {
              type: 'line'
            },
            title: {
              text: 'Issues in Each Category'
            },
            xAxis: {
              //type: 'string',
              categories: days,
            },
            yAxis: {
              title: {
                text: 'Errors'
              }
            },
            series: [
              {
                name: 'To Do',
                data: toDoVals,
              },
              {
                name: 'In Progress',
                data: inProgressVals
              },
              {
                name: 'Code Review',
                data: codeReviewVals
              }
            ]
          });

        });
      </script>

    </div>
  </div>
</template>