<template name="myOverview">
  <div class="template-myOverview">
    <div class="page-header">
      <h1>Welcome *username*</h1>
    </div>
    <div class="page-body">
      <table id="items">
        <tr>
          <th>To Do</th>
          <th>In Progress</th>
          <th>Code Review</th>
          <th>Issues</th>
          <th>Completed</th>
        </tr>
        <tr>
          <td id="items_TO_DO">
            <div class="item">
              <div class="item_title">Task 1758</div>
              <div class="authors">User A</div>
            </div>
            <div class="item">
              <div class="item_title">Task 7382</div>
              <div class="authors">User B</div>
            </div>
            <div class="item">
              <div class="item_title">Task 3648</div>
              <div class="authors">User C</div>
            </div>
            <div class="item">
              <div class="item_title">Task 3267</div>
              <div class="authors">User C, User B</div>
            </div>
          </td>
          <td id="items_IN_PROGRESS">
            <div class="item">
              <div class="item_title">Task 1748</div>
              <div class="authors">User A</div>
              (issue in progress)<br>
              *comments on issue*
            </div>
            <div class="item">
              <div class="item_title">Task 3457</div>
              <div class="authors">User B, User C</div>
            </div>
          </td>
          <td id="items_CODE_REVIEW">
            <div class="item">
              <div class="item_title">Task 8593</div>
              <div class="authors">User C</div>
            </div>
            <div class="item">
              <div class="item_title">Task 8294</div>
              <div class="authors">User B, User A</div>
            </div>
            <div class="item">
              <div class="item_title">Task 2536</div>
              <div class="authors">User C</div>
            </div>
          </td>
          <td id="items_ISSUES">
            <div class="item">
              <div class="item_title">Task 6372</div>
              <div class="authors">User A</div>
            </div>
          </td>
          <td id="items_COMPLETED">
            <div class="item">
              <div class="item_title">Basic Design</div>
              <div class="authors">User B, User C, User A</div>
            </div>
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
  </div>
</template>